/* App.css - GLOBALNO */

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  max-width: none;      /* ukloni ograničenje */
  padding: 0;           /* ukloni 2rem */
  text-align: left;     /* nemoj centrirati sve */
}

/* opcionalno - globalni font */
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: #f6efe5; /* tvoja bež pozadina */
}
